.main {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0; 
  z-index: 1000;
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 500px;
  justify-content: center;
  position: absolute;
  bottom: 4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0 3rem;
  gap: 1rem;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.325);
}

.content > p {
  width: 100%;
  text-align: left;
  font-size: 0.75rem;
  text-transform: lowercase;
  color: white;
  font-weight: 600;
}

.content > p::first-letter {
  text-transform: uppercase;
}

.content p:nth-of-type(2) {
  font-weight: 400;
}

.content > h1 {
  width: 100%;
  text-align: left;
  font-size: 1.4rem;
  text-transform: lowercase;
  color: white;
  font-weight: 600;
}

.content > h1::first-letter  {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.4); */
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.logo {
  display: flex;
  justify-content: left;
  left: 1.61rem;
  position: absolute;
  top: 1.25rem;
  z-index: 100;
  filter: drop-shadow(2px 2px 10px rgba(0,0,0, 0.225));
}

.content .no_log {
  width: 100%;
  text-align: center;
  font-weight: 400;
}

.content .no_log::first-letter {
  text-transform: uppercase;
  font-weight: 400;
}
