
.btn {
  padding: 18px;
  min-width: 18rem;
  max-width: 80%;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.4s ease-in-out, color 0.4s ease-in-out;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* for icon */
.btn span {
align-self: flex-end;
font-size: 1.5rem;
}

.default {
  border: none;
  color: black;
  background-color: #ffffff;
  font-size: 0.75rem;
  border-radius: 2px;

  
}

.default:hover,
.default:active {
  background-color: darken(#7b932e, 10%);
  cursor: pointer;
}

.dark {
  border: none;
  color: #fff;
  background-color: #000;

  
}

.dark:hover,
.dark:active {
  background-color: lighten(#000, 10%);
  cursor: pointer;
}

