.headerContainer {
  padding: 2rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: black;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
  gap: 29px;
}

.row {
  height: 100%;
  display: flex;
  align-items: center;
}

.headerIcon1 {  
  color: black;
  font-size: 1.4rem;
  margin-right: 1rem;
}

.headerIcon2 {
  border-radius: 50%;
}

.headerIcon2 img {
  border-radius: 50%;
}