.wrapper{
  background-color: #F8F8F8;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  margin-top: 5.5rem;
  padding-top: 1rem;
  overflow-y: scroll;
}

.info{
  margin: 2rem;
  color: green;
  font-size: 0.75rem;
}

.container{
  margin: 1.5rem auto;
  padding: 1rem 0;
  width: 90%;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
}

.imgContainer{
  position: relative;
  width: 76px;
  height: 76px;
  display: grid;
  place-content: center;
  
}

.img {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.jobContainer{
  margin-left: 2rem;
 display: flex;
 flex-direction: column;
}

.jobContainer > p {
  font-size: 0.75rem;
  font-weight: 600;
}


.up {
 font-weight: 400;
 margin-bottom: 1rem;
}

.down{
  font-weight: 400;
}

.clearBoth{
  clear:both;
}